<a href="https://colab.research.google.com/github/ckkhandare/ML_Concrete_Data_DT/blob/main/DT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,minmax_scale
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix,accuracy_score,mean_squared_error
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
import pickle

In [ ]:
df=pd.read_csv('Concrete_Data (1).csv')

In [ ]:
df

      Cement  Blast    Fly  Water  ...  Coarse   Fine  Age  Strength
0      540.0    0.0    0.0  162.0  ...  1040.0  676.0   28     79.99
1      540.0    0.0    0.0  162.0  ...  1055.0  676.0   28     61.89
2      332.5  142.5    0.0  228.0  ...   932.0  594.0  270     40.27
3      332.5  142.5    0.0  228.0  ...   932.0  594.0  365     41.05
4      198.6  132.4    0.0  192.0  ...   978.4  825.5  360     44.30
...      ...    ...    ...    ...  ...     ...    ...  ...       ...
1025   276.4  116.0   90.3  179.6  ...   870.1  768.3   28     44.28
1026   322.2    0.0  115.6  196.0  ...   817.9  813.4   28     31.18
1027   148.5  139.4  108.6  192.7  ...   892.4  780.0   28     23.70
1028   159.1  186.7    0.0  175.6  ...   989.6  788.9   28     32.77
1029   260.9  100.5   78.3  200.6  ...   864.5  761.5   28     32.40

[1030 rows x 9 columns]

In [ ]:
X=df.drop(columns=['Strength'])
y=df['Strength']

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33, random_state=7)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((690, 8), (340, 8), (690,), (340,))

In [ ]:
X_train.columns

Index(['Cement', 'Blast', 'Fly', 'Water', 'Superplasticizer', 'Coarse', 'Fine',
       'Age'],
      dtype='object')

In [ ]:
dec=DecisionTreeRegressor()

In [ ]:
param_grid={
    'criterion':["mse", "friedman_mse", "mae"],
    'max_depth':np.arange(0,20)
}

In [ ]:
grid=GridSearchCV(dec,param_grid,scoring='r2',n_jobs=-1,cv=3,verbose=2)

In [ ]:
grid.fit(X_train,y_train)

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:    2.8s finished

GridSearchCV(cv=3, error_score=nan,
             estimator=DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                             max_depth=None, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort='deprecated',
                                             random_state=None,
                                             splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['mse', 'friedman_mse', 'mae'],
                         'max_depth': array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=2)

In [ ]:
best=grid.best_estimator_

In [ ]:
grid.best_score_

0.7693245511545052

In [ ]:
pred=best.predict(X_test)

In [ ]:
mean_squared_error(y_test,pred)

48.04029878267975

In [ ]:
mean_squared_error(y_test,pred)*0.5

24.020149391339874

In [ ]:
pickle_out=open('best_grid.pkl','wb')
pickle.dump(grid,pickle_out)

In [ ]:
pickle_out.close()